<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/assets/img/banner1.png') ;width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/assets/img/banner2.png') ;width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/assets/img/mm1.jpg') ;width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<br><br>

<div class="hero">
  <div class="fadeInDown animated">
    <h2 style="color:#fff">Cuộc thi ảnh “Cùng MM chia sẻ câu chuyện mua sắm”</h2>
    <p style="padding: 50px">Cuộc thi ảnh “Cùng MM chia sẻ câu chuyện mua sắm” tạo sự
      thảo luận, chia sẻ, tương tác của người dùng trên mạng xã hội về những câu chuyện xung quanh việc mua sắm thường
      ngày của họ.
    </p>
  </div>
</div>

<section class="py-5 text-center">
  <div class="container">
    <h2 class="text-center" style="color:#4267b2">CÙNG MM CHIA SẺ CÂU CHUYỆN MUA SẮM</h2>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-magic-wand"></use>
        </svg>
        <h6>Chỉ 3 bước đơn giản</h6>

      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-heart"></use>
        </svg>
        <h6>Kết nối sự yêu thương của cả gia đình</h6>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-rocket"></use>
        </svg>
        <h6>Tham gia nhanh chóng</h6>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-paperclip"></use>
        </svg>
        <h6>Thỏa sức sáng tạo hình ảnh</h6>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-screen"></use>
        </svg>
        <h6>Theo dõi ngay trên màn hình</h6>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-inbox"></use>
        </svg>
        <h6>Quà cực đã, rinh về liền tay</h6>
      </div>
    </div>
  </div>
</section>

<div class="row" style="text-align:center">
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <a class="btn btn-lg btn-danger" routerLink="/minigame">Xem luật chơi</a></div>
  <div class="col-md-2">
      <a class="btn btn-lg btn-primary" routerLink="/dang-ky">Chơi ngay, trúng lớn!</a>
  </div>
  <div class="col-md-4"></div>
</div>

<!-- <app-footer></app-footer> -->

<section class="main">
  <div class="container mt-4">
    <h1 class="text-center mb-4 p-4 text-secondary" style="background: #4267b2; color:#fff!important">Khách hàng đã tham
      gia</h1>
    <div class="row">

      <div class="card-columns">

        <div class="card shadow border-0" *ngFor="let customer of customers">
          <img class="card-img-top" [src]="customer.img" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{customer.name}}</h5>
            <p class="card-text">{{customer.note}}</p>
            <p><small><strong>Mã dự thưởng:</strong> <span style="color:red"> {{customer.lucky_number}}</span></small></p>
            <fb-like [url]="customer.img"></fb-like>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
